<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Evaluation Template</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
        .disabled {
            background-color: grey;
            cursor: not-allowed;
        }
        .row-set-1 {
            background-color: white;
        }
        .row-set-2 {
            background-color: #f6f6f6;
        }
        .divider-row {
        height: 10px;
        background-color: transparent;
        }
    </style>
</head>
<body class="bg-gray-100">
    <!-- Header -->
    <nav class="bg-white shadow fixed w-full z-10">
        <div class="container mx-auto px-6 py-4">
            <div class="flex justify-center">
                <span class="text-xl font-semibold">Human Evaluation Template</span>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto py-20">

<!-- Page 1: Consent Sheet -->
    <div id="page1" class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-semibold mb-4">Evaluating Text Quality</h2>
        <div class="mt-4">
            <h3 class="text-xl font-semibold">Information</h3>
            <p><strong>Experiment:</strong> Generated Text Quality 2024-06</p>
            <p><strong>Lead Researcher:</strong> Dave Howcroft (D.Howcroft@napier.ac.uk)</p>
            <h4 class="font-semibold mt-4">Study purpose</h4>
            <p>We are developing text generation systems for English. In order to improve these systems, we need to ask humans to rate the quality of the generated texts. The collected data will be used:</p>
            <ul class="list-disc list-inside ml-4">
                <li>to inform the design of text generation systems;</li>
                <li>to provide data for researchers interested in evaluating generated text; and</li>
                <li>to train artificial intelligence (AI) systems for text generation.</li>
            </ul>
            <h4 class="font-semibold mt-4">Requirements</h4>
            <ul class="list-disc list-inside ml-4">
                <li>Everyone participating in the study must be at least 18 years old.</li>
                <li>Participants must be speakers of English as a first language and living in one of the following countries: Ireland, the UK, New Zealand, the USA, Australia, or Canada.</li>
            </ul>
            <h4 class="font-semibold mt-4">What does participating in the study entail?</h4>
            <p>There are two main phases to this study: (1) a set of instructions and example ratings followed by (2) rating 30 texts for fluency and documenting any errors.</p>
            <p>After completing the study, you will be paid £6 for your participation, which should take about half an hour.</p>
            <h4 class="font-semibold mt-4">Data collection and sharing</h4>
            <p>We will collect:</p>
            <ul class="list-disc list-inside ml-4">
                <li>your consent through this form;</li>
                <li>the ratings and comments you provide; and</li>
                <li>normal server meta-data to ensure that our survey software is working as intended (including, for example, your IP address).</li>
            </ul>
            <p>All the data will be stored anonymously and published anonymously as well. Demographic information about language familiarity will only be stored and published in aggregate. We will ensure that it is not possible to associate this data with you as an individual.</p>
            <h4 class="font-semibold mt-4">Rights</h4>
            <ul class="list-disc list-inside ml-4">
                <li>Your participation is completely voluntary, and you have the right to decline to participate and withdraw from the research once participation has begun, without any negative consequences, and without providing any explanation.</li>
                <li>You will not be asked to provide sensitive data, or special category data. GDPR sensitive data is any data that reveals information such as racial or ethnic origin, political or religious beliefs, or gender or sexual orientation.</li>
                <li>You are entitled to compensation by taking part in this study, based on the rate mentioned above.</li>
                <li>As the data is fully anonymous, we may not be able to delete or alter your responses.</li>
            </ul>
            <h4 class="font-semibold mt-4">What does consent mean?</h4>
            <p>By consenting, you indicate that you are voluntarily taking part in this study, and you allow for your data to be processed. This means that:</p>
            <ul class="list-disc list-inside ml-4">
                <li>You agree that your answers may be used to publish research articles on this topic.</li>
                <li>The data will be stored on the computers of the research team, with both local (hard drive) and online (protected cloud drive) backups.</li>
                <li>The anonymised data will be made public upon completion of this study.</li>
            </ul>
            <p>The actual consent form is on the next page.</p>
            <h4 class="font-semibold mt-4">Contact details</h4>
            <p>This study has been approved by the Research Ethics and Data Management Committee of the School of Computing. If you have any questions about this study, you may contact the principal investigator via email: D.Howcroft@napier.ac.uk. If you have any remarks or complaints regarding this research, you may also contact the research ethics committee via: EMAIL ADDRESS</p>
            <p class="mt-4"><strong>Full research team:</strong></p>
            <p>David M. Howcroft, Research Fellow, Edinburgh Napier University</p>
            <p>Dimitra Gkatzia, Associate Professor, Edinburgh Napier University</p>
        </div>

        <div class="mt-4">
            <h2 class="text-2xl font-semibold mb-4">Giving Consent</h2>
            <p>Take as much time as you want to to read the above information. If anything is still unclear about this study, please contact: D.Howcroft@napier.ac.uk</p>
            <h3 class="text-xl font-semibold mt-4">Consent</h3>
            <p>By consenting, you indicate that you have read the description above, that you are voluntarily taking part in this study, and that you allow your data to be processed. This means that:</p>
            <ul class="list-disc list-inside ml-4">
                <li>You agree to your responses being recorded here and in our survey.</li>
                <li>Your answers will be used in future publications pertaining to this topic, either through aggregated analyses or directly quoted without attribution to you.</li>
                <li>The data will be shared with our research team locally and online and backed up. This data will be stored for 10 years. After the data is anonymised for external publication, none of your answers can be traced back to you.</li>
                <li>You acknowledge that there is financial compensation for taking part in this study, as outlined on the previous page.</li>
            </ul>
            <p>Note that you may still withdraw your consent after completing this form without consequence. We will delete all incomplete forms and any correspondence from emails or messages. If possible, we will also delete your survey responses.</p>
            <h3 class="text-xl font-semibold mt-4">Do you consent?</h3>
            <p>Do you confirm that you are aged over 18 years of age and are able to take part in this study? If you consent, please indicate this below by clicking “Yes”. If you click “No”, you will not be able to proceed. You may also close this page to stop participating in this study.</p>
            <div class="mt-4">
                <label class="inline-flex items-center">
                    <input type="radio" name="consent" id="consentYes" class="form-radio">
                    <span class="ml-2">Yes, I consent.</span>
                </label>
            </div>
            <div class="mt-4">
                <label class="inline-flex items-center">
                    <input type="radio" name="consent" id="consentNo" class="form-radio">
                    <span class="ml-2">No, I do not consent.</span>
                </label>
            </div>
        </div>
    </div>

<!-- Page 2: Example and Instructions -->
<div id="page2" class="bg-white rounded-lg shadow-md p-6 hidden">
    <h2 class="text-2xl font-semibold mb-4">Examples and Instructions</h2>
    <p>Before you start the task, let's go through an example to help you understand the input format and the type of evaluations you will be doing.</p>
    <p>On every page you will see a section labeled "Input" which lists some facts taht are supposed to be included in the text. "Entity" entries will be different people, places, and things (nouns) while the "Relation" entries will describe the relationship between the two entities. Here's the general structure.</p>
    <div class="mt-4">
        <p class="font-semibold">Input:</p>
        <div class="flex space-x-4">
            <p class="bg-gray-100 p-2 rounded-md">Entity1</p>
            <p class="bg-gray-100 p-2 rounded-md">Relation</p>
            <p class="bg-gray-100 p-2 rounded-md">Entity2</p>
        </div>
        <p class="mt-4">For example, the input could be:</p>
        <div class="flex space-x-4 mt-2">
            <p class="bg-gray-100 p-2 rounded-md">Paris</p>
            <p class="bg-gray-100 p-2 rounded-md">is the capital of</p>
            <p class="bg-gray-100 p-2 rounded-md">France</p>
        </div>
    </div>
    <p>After the input section, you will see an "Output" section, which shows the text generated by one of our systems for that input.</p>
    <div class="mt-4">
        <p class="font-semibold">Output:</p>
        <p class="bg-gray-100 p-2 rounded-md">Paris is the capital of France, home of la Tour Eiffel.</p>
    </div>
    <div class="mt-4">
        <p>Your task in this survey is to rate these Output texts for their fluency and to document any errors in how the Output expresses the Input. For example, the text above is generally fluent, so it would be appropriate to give it a score of "Fluent" on the scale. Please do that for this example.</p>
        <p class="font-semibold mt-4">Fluency Rating:</p>
        <div class="flex justify-between items-center w-full p-2 bg-gray-200 rounded-md">
            <label class="flex-1 flex items-center justify-center">
                <input type="radio" class="form-radio" name="example_fluency" value="1">
                <span class="ml-2">Very Disfluent</span>
            </label>
            <label class="flex-1 flex items-center justify-center">
                <input type="radio" class="form-radio" name="example_fluency" value="2">
                <span class="ml-2">Disfluent</span>
            </label>
            <label class="flex-1 flex items-center justify-center">
                <input type="radio" class="form-radio" name="example_fluency" value="3">
                <span class="ml-2">Somewhat Disfluent</span>
            </label>
            <label class="flex-1 flex items-center justify-center">
                <input type="radio" class="form-radio" name="example_fluency" value="4">
                <span class="ml-2">Neither fluent nor disfluent</span>
            </label>
            <label class="flex-1 flex items-center justify-center">
                <input type="radio" class="form-radio" name="example_fluency" value="5">
                <span class="ml-2">Somewhat Fluent</span>
            </label>
            <label class="flex-1 flex items-center justify-center">
                <input type="radio" class="form-radio" name="example_fluency" value="6">
                <span class="ml-2">Fluent</span>
            </label>
            <label class="flex-1 flex items-center justify-center">
                <input type="radio" class="form-radio" name="example_fluency" value="7">
                <span class="ml-2">Very Fluent</span>
            </label>
        </div>
    </div>
    <p>After rating the fluency, you will need to identify what (if any) parts of the input are missing in the output. The input will be presented for you as a table, and you must select next to each part of the input whether it is Present, Missing, or Incorrect. For this example, all 3 parts are present, so please mark them accordingly.</p>
    <div class="mt-4">
        <p class="font-semibold">Part Status:</p>
        <p>Identify if any part is missing or incorrect in the output. For example:</p>
        <table class="w-full mt-2 border border-gray-300 rounded-md">
            <thead>
                <tr>
                    <th class="border px-4 py-2">Part</th>
                    <th class="border px-4 py-2">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border px-4 py-2">Paris</td>
                    <td class="border px-4 py-2">
                        <select name="example_part1_status" class="w-full p-2 border border-gray-300 rounded-md">
                            <option value="" selected disabled>Select status</option>
                            <option value="present">Present</option>
                            <option value="missing">Missing</option>
                            <option value="incorrect">Incorrect</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">is the capital of</td>
                    <td class="border px-4 py-2">
                        <select name="example_part2_status" class="w-full p-2 border border-gray-300 rounded-md">
                            <option value="" selected disabled>Select status</option>
                            <option value="present">Present</option>
                            <option value="missing">Missing</option>
                            <option value="incorrect">Incorrect</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">France</td>
                    <td class="border px-4 py-2">
                        <select name="example_part3_status" class="w-full p-2 border border-gray-300 rounded-md">
                            <option value="" selected disabled>Select status</option>
                            <option value="present">Present</option>
                            <option value="missing">Missing</option>
                            <option value="incorrect">Incorrect</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Finally, you will need to let us know if any information which was not present in the Input was included in the Output. In this example, the answer is "yes" because the fact that Paris is home to the Eiffel tower (la Tour Eiffel) is not a part of the input. Please check yes and state what was added.</p>
    <div class="mt-4">
        <p class="font-semibold">Extra Information:</p>
        <p>Identify if there is any extra information in the output that was not in the input. For example, this is where we note that "Home of La Tour Eiffel." was not in the input.</p>
        <div class="flex space-x-4 mt-2">
            <label class="flex items-center">
                <input type="radio" class="form-radio" name="example_extra_info" value="yes">
                <span class="ml-2">Yes</span>
            </label>
            <label class="flex items-center">
                <input type="radio" class="form-radio" name="example_extra_info" value="no">
                <span class="ml-2">No</span>
            </label>
        </div>
        <div class="mt-4">
            <label for="example_added_info" class="block font-semibold">If yes, describe what was added:</label>
            <textarea id="example_added_info" name="example_added_info" class="w-full p-2 border border-gray-300 rounded-md" rows="4" placeholder="Describe the additional information here..."></textarea>
        </div>
    </div>
</div>


{% for item in items %}
<div id="page{{ loop.index + 2 }}" class="bg-white rounded-lg shadow-md p-6 hidden">
    <h2 class="text-2xl font-semibold mb-4">Task {{ loop.index }}</h2>
    {% set currentTask = loop.index %}
    <p>Please read the following input and output and rate its fluency on a 7-point Likert scale. Additionally, indicate if any part is missing or incorrect in the output.</p>
    <div class="mt-4">
        <div class="mb-4">
            <p class="font-semibold">Input:</p>
            {% for triple in item.triples %}
            <div class="flex space-x-4">
                <p class="bg-gray-100 p-2 rounded-md">{{ triple[0] }}</p>
                <p class="bg-gray-100 p-2 rounded-md">{{ triple[1] }}</p>
                <p class="bg-gray-100 p-2 rounded-md">{{ triple[2] }}</p>
            </div>
            <br>
            {% endfor %}
            <p class="font-semibold mt-4">Output:</p>
            <p class="bg-gray-100 p-2 rounded-md">{{ item.text }}</p>
            <br>
            <p class="text-xl font-semibold"> Task Questions: </p>
            <fieldset class="mt-4">
                <p class="font-semibold text-lg">Question 1: The output text flows naturally and is easy to understand.</p>
                <div class="flex justify-between items-center w-full p-2 bg-gray-200 rounded-md">
                    {% for i in range(1, 8) %}
                    <label class="flex-1 flex items-center justify-center">
                        <input type="radio" class="form-radio" name="task{{ currentTask }}_fluency" value="{{ i }}">
                        <span class="ml-2">{{ 'Strongly Disagree' if i == 1 else 'Disagree' if i == 2 else 'Somewhat Disagree' if i == 3 else 'Neutral' if i == 4 else 'Somewhat Agree' if i == 5 else 'Agree' if i == 6 else 'Strongly Agree' }}</span>
                    </label>
                    {% endfor %}
                </div>
            </fieldset>
            <br>
            <div class="mt-4">
                <label for="task{{ loop.index }}_part_status" class="block font-semibold text-lg">Question 2: Identify if any part is missing or incorrect in the output:</label>
                <table class="w-full mt-2 border border-gray-300 rounded-md">
                    <thead>
                        <tr>
                            <th class="border px-4 py-2">Part</th>
                            <th class="border px-4 py-2">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for triple in item.triples %}
                        <tr class="{% if loop.index0 % 2 == 0 %}row-set-1{% else %}row-set-2{% endif %}">
                            <td class="border px-4 py-2">{{ triple[0] }}</td>
                            <td class="border px-4 py-2">
                                <select name="task{{ currentTask }}_part{{ loop.index0 * 3 + 0 }}_status" class="w-full p-2 border border-gray-300 rounded-md">
                                    <option value="" selected disabled>Select status</option>
                                    <option value="present">Present</option>
                                    <option value="missing">Missing</option>
                                    <option value="incorrect">Incorrect</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="{% if loop.index0 % 2 == 0 %}row-set-1{% else %}row-set-2{% endif %}">
                            <td class="border px-4 py-2">{{ triple[1] }}</td>
                            <td class="border px-4 py-2">
                                <select name="task{{ currentTask }}_part{{ loop.index0 *3 + 1 }}_status" class="w-full p-2 border border-gray-300 rounded-md">
                                    <option value="" selected disabled>Select status</option>
                                    <option value="present">Present</option>
                                    <option value="missing">Missing</option>
                                    <option value="incorrect">Incorrect</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="{% if loop.index0 % 2 == 0 %}row-set-1{% else %}row-set-2{% endif %}">
                            <td class="border px-4 py-2">{{ triple[2] }}</td>
                            <td class="border px-4 py-2">
                                <select name="task{{ currentTask }}_part{{ loop.index0 *3 + 2 }}_status" class="w-full p-2 border border-gray-300 rounded-md">
                                    <option value="" selected disabled>Select status</option>
                                    <option value="present">Present</option>
                                    <option value="missing">Missing</option>
                                    <option value="incorrect">Incorrect</option>
                                </select>
                            </td>
                        </tr>
                            {% if not loop.last %}
                                <tr class="divider-row"></tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <div class="mt-4">
                <label for="task{{ currentTask }}_extra_info" class="block font-semibold text-lg">Question 3: Was any extra information in the output that was not in the input?</label>
                <div class="flex space-x-4 mt-2">
                    <label class="flex items-center">
                        <input type="radio" class="form-radio" name="task{{ currentTask }}_extra_info" value="yes">
                        <span class="ml-2">Yes</span>
                    </label>
                    <label class="flex items-center">
                        <input type="radio" class="form-radio" name="task{{ currentTask }}_extra_info" value="no">
                        <span class="ml-2">No</span>
                    </label>
                </div>
            </div>
            <div class="mt-4">
                <label for="task{{ currentTask }}_added_info" class="block font-semibold text-lg">If yes, describe what was added:</label>
                <textarea id="task{{ currentTask }}_added_info" name="task{{ currentTask }}_added_info" class="w-full p-2 border border-gray-300 rounded-md" rows="4" placeholder="Describe the additional information here..."></textarea>
            </div>
        </div>
    </div>
</div>
{% endfor %}


        <!-- Page for submission -->
        <div id="page{{ items|length + 3 }}" class="bg-white rounded-lg shadow-md p-6 hidden">
            <h2 class="text-2xl font-semibold mb-4">Submit</h2>
            <p>Thank you for completing the evaluation. Please review your responses and click submit to finish.</p>
            <!-- Hidden input fields for prolific_pid, session_id, study_id, and task_id -->
            <input type="hidden" id="prolific_pid" name="prolific_pid" value="{{ prolific_pid }}">
            <input type="hidden" id="session_id" name="session_id" value="{{ session_id }}">
            <input type="hidden" id="study_id" name="study_id" value="{{ study_id }}">
            <input type="hidden" id="task_id" name="task_id" value="{{ task_id }}">
        </div>
    </div>

    <!-- Sticky Footer -->
    <footer class="fixed bottom-0 w-full bg-gray-800 text-white">
        <div class="container mx-auto py-4 flex justify-between items-center">
            <button id="backButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="goBack()">Back</button>
            <button id="overrideButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hidden" onclick="overrideNext()">Dev</button>
            <button id="nextButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled" onclick="goNext()" disabled>Next</button>
        </div>
    </footer>

    <!-- JavaScript for navigation buttons -->
    <script>
        let currentPage = 1;
        const totalPages = {{ items|length + 3 }};

        document.querySelectorAll('input[name="consent"]').forEach((elem) => {
            elem.addEventListener('change', function() {
                const nextButton = document.getElementById('nextButton');
                if (document.getElementById('consentYes').checked) {
                    nextButton.classList.remove('disabled');
                    nextButton.disabled = false;
                } else {
                    nextButton.classList.add('disabled');
                    nextButton.disabled = true;
                }
            });
        });

        function showPage(page) {
            console.log(`Showing page: ${page}`);
            for (let i = 1; i <= totalPages; i++) {
                const pageElement = document.getElementById(`page${i}`);
                if (pageElement) {
                    pageElement.classList.add('hidden');
                } else {
                    console.warn(`Page element not found: page${i}`);
                }
            }
            const currentPageElement = document.getElementById(`page${page}`);
            if (currentPageElement) {
                currentPageElement.classList.remove('hidden');
            } else {
                console.error(`Current page element not found: page${page}`);
            }
        }

        // Check if the current page is filled
        function isPageFilled(pageNumber) {
            if (pageNumber === 1) {
                return document.getElementById('consentYes').checked;
            } else if (pageNumber === 2 || pageNumber === totalPages) {
                return true;
            }

            pageNumber -= 2; // Adjust for the page offset
            const fluencyRating = document.querySelector(`input[name="task${pageNumber}_fluency"]:checked`);
            if (!fluencyRating) return false;

            let partIndex = 0;
            while (true) {
                const partStatus = document.querySelector(`select[name="task${pageNumber}_part${partIndex}_status"]`);
                if (!partStatus) break;
                if (!partStatus.value) return false;
                partIndex++;
            }

            const extraInfo = document.querySelector(`input[name="task${pageNumber}_extra_info"]:checked`);
            if (!extraInfo) return false;

            if (extraInfo.value === 'yes') {
                const addedInfo = document.querySelector(`textarea[name="task${pageNumber}_added_info"]`);
                if (!addedInfo || !addedInfo.value.trim()) return false;
            }

            return true;
        }


        function goBack() {
            if (currentPage > 1) {
                currentPage--;
                showPage(currentPage);
            }
            updateButtons();
        }

        function goNext() {
            if (isPageFilled(currentPage)) {
                console.log("Page " + currentPage + " is validated.");
                if (currentPage < totalPages) {
                    currentPage++;
                    showPage(currentPage);
                } else if (currentPage === totalPages) {
                    submitForm();
                }
                updateButtons();
            } else {
                alert('Please fill in all the required questions before proceeding to the next page.');
            }
        }

        function updateButtons() {
            console.log(`Current page: ${currentPage}, Total pages: ${totalPages}, button is disabled: ${currentPage === 1}`)
            document.getElementById('backButton').disabled = currentPage === 1;
            document.getElementById('backButton').classList.toggle('disabled', currentPage === 1);
            const nextButton = document.getElementById('nextButton');
            if (currentPage === totalPages) {
                nextButton.innerText = 'Submit';
                nextButton.onclick = submitForm;
            } else {
                nextButton.innerText = 'Next';
                nextButton.onclick = goNext;
            }
        }

        async function submitForm(event) {
            event.preventDefault();

            const responses = {};
            const totalTasks = {{ items|length }}; // Total number of tasks

            for (let task = 1; task <= totalTasks; task++) {
                const taskResponses = {};

                // Collect fluency rating
                const fluencyRating = document.querySelector(`input[name="task${task}_fluency"]:checked`);
                taskResponses.fluency = fluencyRating ? fluencyRating.value : null;

                // Collect parts status
                taskResponses.parts = [];
                let partIndex = 0;
                while (true) {
                    const partStatus = document.querySelector(`select[name="task${task}_part${partIndex}_status"]`);
                    if (!partStatus) break;
                    taskResponses.parts.push(partStatus.value);
                    partIndex++;
                }

                // Collect extra info
                const extraInfo = document.querySelector(`input[name="task${task}_extra_info"]:checked`);
                taskResponses.extraInfo = extraInfo ? extraInfo.value : null;

                // Collect added info
                const addedInfo = document.querySelector(`textarea[name="task${task}_added_info"]`);
                taskResponses.addedInfo = addedInfo ? addedInfo.value : null;

                responses[`task${task}`] = taskResponses;
            }

            // Collect hidden input values
            responses.prolific_pid = document.getElementById('prolific_pid').value;
            responses.session_id = document.getElementById('session_id').value;
            responses.study_id = document.getElementById('study_id').value;
            responses.task_id = document.getElementById('task_id').value;

            // Post the JSON to the server
            try {
                const response = await fetch('/inlg', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(responses),
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const result = await response.json();
                console.log(result);
                alert('Form submitted successfully');
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
                alert('Form submission failed');
            }
        }


function startNoticeCountdown() {
    var minutes = 25; //var minutes = 50;
    var seconds = 0;
    var totalSeconds = minutes * 60 + seconds;

    var interval = setInterval(function () {
        seconds--;
        if (seconds < 0) {
            minutes--;
            seconds = 59;
        }

        if (minutes < 0) {
            clearInterval(interval);
            alert("The task is expected to take about 30 minutes. You have been working for 25 minutes and the task is available to you for another 35 minutes.");
        }
    }, 1000);
}

function startWarningCountdown() {
    var minutes = 50; //var minutes = 50;
    var seconds = 0;
    var totalSeconds = minutes * 60 + seconds;

    var interval = setInterval(function () {
        seconds--;
        if (seconds < 0) {
            minutes--;
            seconds = 59;
        }

        if (minutes < 0) {
            clearInterval(interval);
            alert("50 minutes have passed! You have 10 minutes to finish the task! If you do not finish in time, your answers will not be used and you will not be paid.");
        }
    }, 1000);
}

function startFailedCountdown() {
    var minutes = 60; //var minutes = 60;
    var seconds = 0;
    var totalSeconds = minutes * 60 + seconds;

    var interval = setInterval(function() {
        seconds--;
        if (seconds < 0) {
            minutes--;
            seconds = 59;
        }

        if (minutes < 0) {
            clearInterval(interval);
            alert("The allocated time for this task has passed. Your answers will not be used and you will not be paid. Redirecting to Prolific...");

            // Redirect the worker to the Prolific app: https://app.prolific.com/
            window.location.href = "https://app.prolific.co/";
        }
    }, 1000);
}

function overrideNext() {

            document.getElementById('nextButton').classList.remove('disabled');
            document.getElementById('nextButton').disabled = false;

            if (currentPage === totalPages) {
                submitForm();
                return;
            }

            currentPage++;
            showPage(currentPage);
            updateButtons();
}

function dev() {
    document.getElementById('overrideButton').classList.remove('hidden');
}

        showPage(currentPage);
        updateButtons();

        startNoticeCountdown();
        startWarningCountdown();
        startFailedCountdown();

    </script>
</body>
</html>
